

if SHIELD_KALY42_L

config ZMK_KEYBOARD_NAME
    default "Kaly42"
    
config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_KALY42_L || SHIELD_KALY42_R

config ZMK_SPLIT
    default y

endif